---
component: content
---
{{#each sections}}
<div id="section-{{reference}}">
  <h{{depth}} class="page-header">{{reference}} {{{header}}}</h{{depth}}>
  {{#if description}}
  <div>
    {{{description}}}
  </div>
  {{/if}}
	{{{modifierMarkup}}}
  {{#if markup}}
    {{#each modifiers}}
        {{{description}}}
	    <ul>
		    <li>{{{modifierMarkup}}}</li>
	    </ul>
        <hr>
    {{/each}}
    <pre><code class="html">{{markup}}</code></pre>
  {{/if}}
</div>
{{/each}}